@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body {
    background-color: #121212;
    justify-content: center;
    color: white;
}

section{
    justify-content: center;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    width: 99vw;
    height: 15%;
    position: fixed;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: double 8px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#1e1e1e, #1e1e1e), 
                      linear-gradient(50deg, #1829E2, #D6C017);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 10px;
}

.header h1{
    text-align: center;
    color:white;
    font-size: 40px;
}

.float-div{
    position: fixed;
    top: 23%;
    display: flex;
    padding: 10px;
    border: 0.5px #bdbdbd solid;
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 15%;
    height: 40%;
    flex-direction: column;
    transition: all .4s;
    word-break: break-all;
}



.logout{
    width: 100%;
    height: 30%;
    border-radius: 15px;
    font-size: 18px;
    background-color: #D9E348;
    border-bottom: 5px solid;
    border-color: #474D0E;
}

.float-div button:hover{
    border: none;
    cursor: pointer;
    transition: .4s all;
    transform: translateY(2px);
}

.logout a{
    color: #1e1e1e;
}

.btnM-O:hover{
    cursor: pointer;
}

.btnM-O{
    width: 15%;
    height: 5%;
    position: fixed;
    top: 17%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    border: .5px solid #bdbdbd;
    border-radius: 20px;
}

.btnM-O button{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}

.btnM-O::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 115px;
    width: 10px;
    height: 2px;
    background: #fff;
    z-index: 10;
    transform: rotate(40deg);
    transition: .5s;
    
}

.btnM-O.active::before{
    transform: rotate(-40deg);
}

.btnM-O::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 109px;
    width: 10px;
    height: 2px;
    background: #fff;
    z-index: 10;
    transform: rotate(-40deg);
    transition: .5s all;
    
}

.btnM-O.active::after{
    transform: rotate(40deg);
}

.menu .float-div{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.menu.active .float-div{
    visibility: visible;
    opacity: 1;
}

#btnOcultar{
    display: none;
    justify-content: center;
}


.main{
    margin-top: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    border: 2px solid #bdbdbd;
    padding: 10px;
    border-radius: 20px;
    width: 30vw;
}

.contenedor li{
    list-style: none;
}

.contenedor a:hover{
    text-decoration: underline;
    color: #bdbdbd;
    transition: .3s;
}

.main h1{
    font-size: 30px;
}

.index h1{
    margin-bottom: 50px;
}

.index p{
    font-weight: 600;
}

.index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    border: double 8px transparent;
    border-radius: 30px;
    background-image: linear-gradient(#1e1e1e, #1e1e1e), 
                      linear-gradient(50deg, #1829E2, #D6C017);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 30%;
}

.login img{
    width: 100px;    
}

.login form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login div{
    display: flex;
    justify-content: center;
}

.login input{
    padding:  15px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: .8;
}

.login input:hover{
    opacity: 1;
    transition: .4s;
}

::placeholder{
    font-weight: 400;
}

.login input[type='submit']{
    border: 3px solid #bdbdbd;
    border-radius: 20px;
    background: #1e1e1e;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.login input[type='submit']:hover{
    cursor: pointer;
    background-color: #bdbdbd;
    transition: .4s;
    color: #000;
}

.login a{
    text-decoration: underline;
    text-align: center;
    font-size: 12px;
}

.login a:hover{
    opacity: .7;
    transition: .3s;
}