body {
    background-color: #121212;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:azure
}

header{
    width: 99vw;
    height: 10%;
    background: #1e1e1e;
    border: 8px solid ;
    border-radius: 15px;
    border-image-source: linear-gradient(indigo, purple, hotpink);
    border-image-slice: 1 1 1 1;
    border-image-width: 0.25rem;
    border-image: 20px;
}